<div class="page-header">
  <%= link_to products_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Products
  <% end %>
  <%= link_to edit_product_path(@product), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show product</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @product.name %></dd>

  <dt>Amount:</dt>
  <dd><%= @product.amount %></dd>

  <dt>Size:</dt>
  <dd><%= @product.size %></dd>

  <dt>Uploads</dt>
  <dd>
    <ul>
    <% @product.uploads.each do |upload| %>
      <li><%= link_to upload.filename, rails_blob_path(upload, disposition: :attachment) %></li>
    <% end %>
    </ul>
  </dd>

</dl>
